@model IEnumerable<WudFilmApp.Models.MovieListItem>

@{
    ViewData["Title"] = "Now Showing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/movie.css" />
<h2>Now Showing</h2>


<div class="body-content">
    <ul class="movie-list">

        @foreach (var item in Model)
        {

            <li class="movie-item">
                <a asp-action="Details" asp-route-id="@item.Movie.Id">
                    <div class="movie-background">
                        <img src="@item.PosterUrl" class="movie-poster" alt-text="@item.Title" />
                        <div class="movie-details">
                            <h3 class="movie-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                            <p class="showtime-info">@Html.DisplayFor(modelItem => item.AdditionalInfo)</p>
                        </div>

                    </div>
                </a>
            </li>


        }
    </ul>
</div>

